<!-- index.hbs -->

<div>
    <h2 class="text-2xl font-bold mb-3 underline">Home page</h2>
    <p class="w-2/3">
        Checkmark Inc. is a sports apparel company focused on providing the best performance
        clothing for athletes at every level of sports. They sell about an average of 300 orders per
        day total in their 3 stores, including online orders. With a revenue of $4 million annually,
        they have trouble keeping track of sales to customers, stores, suppliers as well as their
        employees. A database driven website will be needed to record everything.
    </p>
</div>
<table class="border-collapse border border-black table-auto my-5">
    <thead class="bg-neworange">
        <tr>
            <th class="p-3 border border-black">Table Name</th>
            <th class="p-3 border border-black">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="p-3 border border-black">
                <b>Customers</b>
            </td>
            <td class="p-3 border border-black">Records the details of customers we do business with</td>
        </tr>
        <tr>
            <td class="p-3 border border-black">
                <b>Employees</b>
            </td>
            <td class="p-3 border border-black">Records the hard-working employees that keep our company running</td>
        </tr>
        <tr>
            <td class="p-3 border border-black">
                <b>Sales</b>
            </td>
            <td class="p-3 border border-black">Records the sales the company has made to our loyal customers</td>
        </tr>
        <tr>
            <td class="p-3 border border-black">
                <b>Stores</b>
            </td>
            <td class="p-3 border border-black">Records the details of all of our locations</td>
        </tr>
        <tr>
            <td class="p-3 border border-black">
                <b>Suppliers</b>
            </td>
            <td class="p-3 border border-black">Records the suppliers that are providing the material to our stores</td>
        </tr>
        <tr>
            <td class="p-3 border border-black">
                <b>Suppliers_has_Stores</b>
            </td>
            <td class="p-3 border border-black">
                An intersection table for the M:N relationship between Suppliers and Stores
            </td>
        </tr>
    </tbody>
</table>
<p class="absolute bottom-5 left-5"><em>&copy 2023 Gregory Lion, Noddy Lam</em></p>